.llibres {
    border: 2px solid black;
    width: 200px;
    height: 200px;
}
.btn {
    margin-left: 10px;
}
#form {
    display: none;
    color: white;
    border-radius: 20px;
    padding: 20px;
    background-color: #000000b5;
    left: 45%;
    position: absolute;
    width: 240px;
}